<config platform="project" template="project (default)">Created: lun. juin 27 17:14:17 2016
By: Lucas
Using Template: project (default)

&lt;description to go here>
<option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value=""/>
    <option fromDef="true" name="name" value="PresageEDK_android"/>
    <option fromDef="true" name="caption" value="PresageEDK_android"/>
    <option fromDef="true" name="provider" value="Lucas"/>
    <option fromDef="true" name="copyright" value="(C) Lucas"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
